*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}

.link{
    display: flex;
    float: right; 
    font-size: 13px;
    font-family: sans-serif;
}
.link1{
    padding-top:23px ;
}
.link2{
    padding-top:13px ;
    padding-left: 10px;
}
.link2 img{
    width: 37px;
    height: 32px;
    margin-right: 3px;
    margin-top: 1px;
}
.link3{
    padding-top:10px ;
}
.link3 img{
    width: 60px;
    height: 41px;
    padding-right: 5px;
}
a{
    margin-right: 7px;
    text-decoration: none;
    color: grey;
    font-size: 16px;
}
.clear{
    clear: both;
}
section{
    display: block;
    text-align: center;
    margin:auto;
    width: 100%;
    height: 185px;
    box-sizing: border-box;
    padding-top: 73.5px;
}
section img{
width: 272px;
height: 92px;
}
content{
    display: block;
    text-align: center;
    margin-top: 2px;
}
.search input{
    width: 560px;
    height: 44px;
    border: 0.5px solid grey;
    border-radius:24px ;
    padding-left: 10px;
    margin-top: 5px;
}
.submit input{
    margin-top: 15px;
    background-color: white;
    text-align: center;
    border: none;
    width: 122px;
    height: 36px;
    color: grey;
}
#şans{
    width: 210px;
    font-size: 14px;
    margin-left: 20px;
}
#ara{
    width: 100px;
    font-size: 14px;
}
.submit input:hover{
    border: 1px grey solid;
}
#boşluk{
    height: 280px;
}
.tr{
    text-align: start;
    margin-left: 26px;
    color: grey;
}
.son{
display: flex;
font-size: medium;
font-style: normal;
}
.total{
    margin-right: 350px;
    padding-top: 10px;
    margin-left: 25px;
}
#karbon{
    margin-right: 430px;
    padding-top: 10px;
}
.end{
    padding-top: 10px;
}

